<cfset beatles = ArrayNew(1)>
	<cfset ArrayAppend(beatles,"John")>
	<cfset ArrayAppend(beatles,"Paul")>
	<cfset ArrayAppend(beatles,"George")>
	<cfset ArrayAppend(beatles,"Ringo")>

		<!---output a particular index to the browser--->
		<cfoutput>#beatles[3]#</cfoutput>

<ul>
<cfloop from="1" to="#ArrayLen(beatles)#" index="i">
	<li><cfoutput>#beatles[i]#</cfoutput></li>
</cfloop>
</ul>