
<cfhttp url="http://www.learncfinaweek.com/twitter.xml" method="get" result="twitterFeed" />

<ul>
	<cfoutput>
		<cfloop array="#xmlParse(twitterFeed.fileContent).statuses.status#" index="feedItem" >
			<li>
				#dateformat(feedItem.created_at.xmlText,'mm/dd/yyyy')# - #feedItem.text.xmlText#
			</li>
		</cfloop>
	</cfoutput>
</ul>

