<cfdocument format="PDF" pagetype="legal" margintop="1.0" marginbottom="2.0" 
marginleft="0.5" marginright="1.5" userpassword="secret123" encryption="128-bit" >
    <cfoutput>
        Hello this my exercise on file handling #dateFormat(now(), "short")#
    </cfoutput>
</cfdocument>