<cfspreadsheet action="read" sheet="1"
 src="C:\EducationalInstitutions.xlsx" name="myExcel">
    <cfdump var="#myExcel#">
   <cfoutput>
       #myExcel#
   </cfoutput>
   <hr>


<!---

<cfoutput query="qData" maxrows="#qData.RecordCount#">
    #qData.GROUP#<br />
    #qData.DOB#<br />
</cfoutput>--->

<cffile action="read" 
	file="C:\Users\hp\Documents\EducationalInstitutions.CSV" 
	variable="shoppingList" charset="us-ascii">

<cfoutput>#shoppingList#</cfoutput>
