<p>1. First Pattern</p>
<cfloop from="1" to="5" index="i">
    <cfloop from="1" to="#i#" index="j">
        <cfoutput>
            * 
        </cfoutput>
    </cfloop>
    <br>
</cfloop>

<hr>

<p>2. Second Pattern</p> 
<cfscript>
    for(i=1; i<=5 ; i++)
    {
        for(j=5; j>=i; j--)
            {
                writeOutput("  * ");
            }
        writeOutput("<br>");     
    }
</cfscript>

<hr>

<!---<p>1. Second Pattern</p>
<cfloop from="1" to="5" index="i" step="i">
    <cfloop from="5" to="#i#" index="j" step="-1">
        <cfoutput>
            * 
        </cfoutput>
    </cfloop>
    <br>
</cfloop>--->

<hr>

<p>3. third pattern</p>
<cfscript>
    for(i=1; i<=5; i++)
    {
        for(j=5; j>=i; j--)
        {
            if(i < j)
            {
                writeOutput(" ! ");
            }
            else
            {
                writeOutput(" * ");    
            }
        }
        writeOutput("<br>");  
    }
</cfscript>


<p>2. Second Pattern</p> 
<cfscript>
    for(i=1; i<=5 ; i++)
    {
        for(j=1; j<=5; j++)
            {
                writeOutput("  * ");
            }
        writeOutput("<br>");
    }
</cfscript>

<p>2. Second Pattern</p> 
<cfscript>
    for(i=1; i<=5 ; i++)
    {
        for(j=1; j<=5; j++)
            {
                if(i <= j )
                {
                    writeOutput(" * ");
                }
                else 
                {
                    writeOutput(" ^ ");
                }
            }
        writeOutput("<br>");
    }
</cfscript>

<cfset n = "4" />
<cfif res = "n%2=0">
    "yes" & #res# & "Prime No."
</cfif> 





    

