<!---<cffunction name="test" returntype="" output="false">
    <cfargument name="name" type="string" required="true" />
    <cfreturn "So, your name is #arguments.name#?">
    <cfif "#arguments.name%2==0#">
        <cfoutput>
            No. is Prime
        </cfoutput>
    <cfelse>
        not prime
    </cfif>
</cfreturn>
</cffunction>

<cfif isDefined("form.name") >
    <cfoutput>#test( htmlEditFormat( form.name ) )#</cfoutput><br>
</cfif>

<form method="post">
    <input name="name" type="text">
    <input name="TEST" type="submit" value="Call test()">
</form>--->
<p>Using cfscript Fibonacci</p>
<cfscript>
    f1="0";
    f2="1";
    for(i=1; i<=10; i++)
    {
        writeOutput("#f1# ,");
        fib=f1 + f2;
        f1=f2;
        f2=fib;
    }
</cfscript>
<hr>


<p>Using cfml Fibonacci</p>
<cfset f1="0"/>
<cfset f2="1"/>
<cfloop from="1" to="10" index="i">
    <cfoutput>
        #f1#,
    </cfoutput>
<cfset fib="#f1+f2#"/>
<cfset f1="#f2#"/>
<cfset f2="#fib#"/>
</cfloop>


<cfset n=123 />
<cfset r="0"/>
<cfwhile >

</cfwhile>